* {
    box-sizing: border-box;
}

html {
    background-color: #d4a875;
}

body {
    font-family: sans-serif;
    background: #9c764b;
    color: #333;
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem;
    border: 2px ridge #382917;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

h1 {
    color: #94e83a;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    color: #1e4612;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

a {
    color: #ffe66d;
    text-decoration: none;
}

a:hover {
    color: #fff48f;
    text-decoration: underline;
}

nav {
    margin-top: 1rem;
    text-align: center;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 1.5rem;
    justify-content: center;
}

.navbar li a {
    text-decoration: none;
    font-weight: bold;
    color: #bcdf7c;
    transition: color 0.2s ease;
}

.navbar li a:hover {
    color: #426436;
}

.navbar li a.active {
    font-weight: bold;
    text-decoration: underline;
}



@media (max-width: 600px) {
    body {
        background-color: #a19833;
    }

    h1 {
        font-size: 2rem;
        color: #b80000;
        /* #851738 save this color for later cause it's really beautiful */
        text-align: center;
    }

    .navbar li a {
        display: block;
        padding: 0.5rem 0;
        font-size: 1.75rem;
    }

    .navbar {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 2000px) {


    .section-title {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 1rem;
        border-top: 2px solid #382917;
        padding-top: 2rem;
    }

    .card-container {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

    }

    .card {
        background-color: #6f9e24;
        border: 2px solid #1e4612;
        border-radius: 10px;
        padding: 1rem;
        width: calc(45% - 1.5rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.2s ease;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-title:hover {
        color: #ffe66d;
        cursor: default;
    }

    .card-img {
        width: 100%;
        object-fit: contain;
        max-height: 500px;
        margin: auto 0;
        aspect-ratio: 4 / 3;
    }

    #upcoming {
        margin-bottom: 3rem;
    }

    form {
        max-width: 500px;
        margin: 2rem auto;
        padding: 1rem;
    }

    .form-group {
        position: relative;
        margin-bottom: 2rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 1.2rem 0.5rem 0.5rem;
        font-size: 1rem;
        border: 2px solid #555;
        border-radius: 5px;
        resize: vertical;
        background-color: #d4b49f;
    }

    .form-group label {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        color: #777;
        pointer-events: none;
        transition: all 0.2s ease;
    }

    .form-group input:focus~label,
    .form-group input:not(:placeholder-shown)~label,
    .form-group textarea:focus~label,
    .form-group textarea:not(:placeholder-shown)~label,
    .form-group option:focus~label,
    .form-group option:not(:placeholder-shown)~label,
    .form-group select:focus~label,
    .form-group select:not(:placeholder-shown)~label {
        top: 0.2rem;
        font-size: 0.75rem;
        color: #420;
    }

    button[type="submit"] {
        width: 100%;
        background-color: #afc237;
        color: #5c4632;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #99df12;
    }

    .form-group option {
        border: 1.5px groove #382917;
    }

    .form-group option:hover {
        background-color: #420;
    }


    select option:disabled {
        color: #777;
        background-color: #d4b49f;

    }

    select {
        color: #420;
    }

}